@model WebApp.Domain.RSA
@using static WebApp.Helpers.RsaHelper
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RSA</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimeQ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimeQ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CipherText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CipherText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser!.Id)
        </dd>
        <dt class = "col-sm-2">
            Decoded
        </dt>
        <dd class = "col-sm-10">
            @RsaDecryption(Model.CipherText, Model.PrimeP, Model.PrimeQ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
